---
import Button from "@components/Button.astro";
import MaxWidth from "@components/MaxWidth.astro";
import Project from "@components/Project.astro";
import { getProjects } from "@sanity/api";

const projects = await getProjects();
const initialProjects = projects.slice(0, 3);
const remainingProjects = projects.slice(3);
---

<section>
  <MaxWidth>
    <div class="flex flex-col gap-10">
      {
        initialProjects.map((project, index) => (
          <Project
            title={project?.name}
            tags={project?.tags}
            image={project?.image}
            imageAlt={project?.imageAlt}
            detailUrl={project?.slug}
            description={project?.description}
            odd={index % 2 === 0}
          />
        ))
      }

      <div id="remaining-projects" class="hidden">
        {
          remainingProjects.map((project, index) => (
            <Project
              title={project?.name}
              tags={project?.tags}
              image={project?.image}
              imageAlt={project?.imageAlt}
              detailUrl={project?.slug}
              description={project?.description}
              odd={(index + initialProjects.length) % 2 === 0}
            />
          ))
        }
      </div>

      {
        projects?.length > 3 && (
          <Button class="more-projects-button self-center" intent="bordered">
            Zobrazit další projekty
          </Button>
        )
      }
    </div>
  </MaxWidth>
</section>

<script is:inline>
  const toggleButton = document.querySelector(".more-projects-button");

  function toggleProjects(event) {
    const remainingProjects = document.getElementById("remaining-projects");
    const button = event.target;

    if (remainingProjects.classList.contains("hidden")) {
      remainingProjects.classList.remove("hidden");
      button.textContent = "Zobrazit méně projektů";
    } else {
      remainingProjects.classList.add("hidden");
      button.textContent = "Zobrazit další projekty";
    }
  }

  toggleButton.addEventListener("click", toggleProjects);
</script>
