---
import type { SanityProjectDetail } from '@domains';
import Headline from '@ui/components/Headline.astro';
import Tag from '@ui/components/Tag.astro';
import { Image } from 'astro:assets';

interface Props
  extends Partial<NonNullable<SanityProjectDetail['parentProject']>> {
  projectImage: {
    src?: string;
    alt: string;
    height: number;
    width: number;
  };
}

const { name, tags, projectImage, year } = Astro.props;
---

<section class="pt-10">
  <div class="flex flex-col gap-3">
    <Headline>
      {name}
    </Headline>
    <div class:list={['relative h-auto', !projectImage?.src && 'bg-[#D9D9D9]']}>
      {
        projectImage?.src && (
          <Image
            src={projectImage.src}
            width={projectImage.width}
            height={projectImage.height}
            alt={projectImage.alt}
            class="size-full max-h-full object-cover"
            sizes="(max-width: 822px) 90vw, 822px"
          />
        )
      }
    </div>

    <div class="flex items-center justify-between">
      {
        (tags ?? []).length > 0 && (
          <ul class="flex gap-2">
            {tags?.map(tag => (
              <li>
                <Tag intent="primary">{tag?.name}</Tag>
              </li>
            ))}
          </ul>
        )
      }

      <strong>{year}</strong>
    </div>
  </div>
</section>
