---
import type { SanityProjectDetail } from '@domains';
import Headline from '@ui/components/Headline.astro';
import Tag from '@ui/components/Tag.astro';

interface Props
  extends Partial<NonNullable<SanityProjectDetail['parentProject']>> {
  projectImage?: string;
}

const { name, tags, projectImage, imageAlt = '', year } = Astro.props;
---

<section class="pt-10">
  <div class="flex flex-col gap-3">
    <Headline intent="primary">
      {name}
    </Headline>
    <div class="relative h-80 bg-[#D9D9D9] md:h-[30rem] lg:h-[45.4rem]">
      {
        projectImage && (
          <img
            src={projectImage}
            alt={imageAlt}
            class="size-full max-h-full object-cover"
          />
        )
      }
    </div>

    <div class="flex items-center justify-between">
      {
        (tags ?? []).length > 0 && (
          <ul class="flex gap-2">
            {tags?.map((tag) => (
              <li>
                <Tag intent="primary">{tag?.name}</Tag>
              </li>
            ))}
          </ul>
        )
      }

      <strong>{year}</strong>
    </div>
  </div>
</section>
