---
import { getProjects } from '@sanity/api';
import DecoratedText from '@ui/components/DecoratedText.astro';
import Headline from '@ui/components/Headline.astro';
import IconButton from '@ui/components/IconButton.astro';
import MaxWidth from '@ui/components/MaxWidth.astro';

import arrowSVG from '../../../assets/hand-made/arrow.svg?raw';

import Project from './parts/Project.astro';

const projects = await getProjects();
---

<section id="portfolio">
  <MaxWidth>
    <Headline class="mb-5 lg:mb-12"
      ><DecoratedText intent="needle" position="right">Projekty</DecoratedText
      ></Headline
    >
    <div class="relative flex flex-col gap-12">
      <div
        class="grid place-content-center gap-6 md:grid-cols-2 md:gap-10 lg:grid-cols-small xl:grid-cols-regular"
      >
        {
          projects.map(project => (
            <Project
              name={project?.name}
              tags={project?.tags}
              image={project?.image}
              detailUrl={project?.slug}
              tagColor={project?.tagColor}
              titleColor={project?.titleColor}
              class="project"
            />
          ))
        }
      </div>

      <IconButton
        class="more-projects-button self-center"
        aria-pressed="false"
        intent="bordered"
        icon={arrowSVG}
      >
        Zobrazit další projekty
      </IconButton>
    </div>
  </MaxWidth>
</section>

<script>
  import { isMobileDevice } from '@utils/device';

  document.addEventListener('astro:page-load', () => {
    const toggleButton = document.querySelector('.more-projects-button');
    const toggleButtonText = document.querySelector(
      '.more-projects-button .icon-button_text'
    );
    const projects = document.querySelectorAll('.project');

    let isMobile = isMobileDevice();

    let lastWidth = window.innerWidth;

    function updateProjectsVisibility() {
      isMobile = window.matchMedia('(max-width: 640px)').matches;
      const hasToggleButton = projects?.length > 3 && isMobile;

      if (!hasToggleButton) {
        toggleButton?.classList.add('hidden');
      } else {
        toggleButton?.classList.remove('hidden');

        projects.forEach((project, index) => {
          if (index > 2) {
            project.classList.add('hidden');
          }
        });
      }
    }

    function toggleProjects() {
      if (!toggleButton || !toggleButtonText) {
        return;
      }

      const allProjectsVisible =
        toggleButton.getAttribute('aria-pressed') === 'true';

      projects.forEach((project, index) => {
        if (index > 2) {
          project.classList.toggle('hidden', allProjectsVisible);
        }
      });

      toggleButtonText.textContent = allProjectsVisible
        ? 'Zobrazit další projekty'
        : 'Zobrazit méně projektů';
      toggleButton.setAttribute('aria-pressed', String(!allProjectsVisible));
    }

    window.addEventListener('resize', () => {
      const currentWidth = window.innerWidth;
      if (currentWidth !== lastWidth) {
        lastWidth = currentWidth;
        updateProjectsVisibility();
      }
    });
    toggleButton?.addEventListener('click', toggleProjects);

    updateProjectsVisibility();

    return () => {
      window.removeEventListener('resize', updateProjectsVisibility);
      toggleButton?.removeEventListener('click', toggleProjects);
    };
  });
</script>
