---
import MaxWidth from "@ui/components/MaxWidth.astro";
import Headline from "@ui/components/Headline.astro";
import IconButton from "@ui/components/IconButton.astro";

import { getProjects } from "@sanity/api";

import arrowSVG from "../../../assets/hand-made/arrow.svg?raw";

import Project from "./parts/Project.astro";
import Decoration from "@ui/components/Decoration.astro";

const projects = await getProjects();
---

<section id="portfolio">
  <MaxWidth>
    <Headline intent="primary" class="text-center mb-5 lg:mb-12"
      >Moje práce</Headline
    >
    <div class="relative flex flex-col gap-[4.8rem]">
      <Decoration>
        <div
          class="grid place-content-center md:grid-cols-2 lg:grid-cols-small gap-10 xl:grid-cols-regular"
        >
          {
            projects.map((project) => (
              <Project
                title={project?.name}
                tags={project?.tags}
                image={project?.image}
                imageAlt={project?.imageAlt}
                detailUrl={project?.slug}
                tagColor={project?.tagColor}
                titleColor={project?.titleColor}
                class="project"
              />
            ))
          }
        </div>
      </Decoration>

      <IconButton
        class="more-projects-button self-center"
        aria-pressed="false"
        intent="bordered"
        icon={arrowSVG}
      >
        Zobrazit další projekty
      </IconButton>
    </div>
  </MaxWidth>
</section>

<script>
  document.addEventListener("astro:page-load", () => {
    const toggleButton = document.querySelector(".more-projects-button");
    const projects = document.querySelectorAll(".project");

    const isMobile = window.matchMedia("(max-width: 640px)").matches;
    const hasToggleButton = projects?.length > 3 && isMobile;

    if (!hasToggleButton) {
      toggleButton?.classList.toggle("hidden");
    } else {
      toggleButton?.classList.remove("hidden");

      projects.forEach((project, index) => {
        if (index > 2) {
          project.classList.add("hidden");
        }
      });
    }

    function toggleProjects() {
      if (!toggleButton) {
        return;
      }

      const allProjectsVisible =
        toggleButton.getAttribute("aria-pressed") === "true";

      projects.forEach((project, index) => {
        if (index > 2) {
          project.classList.toggle("hidden", allProjectsVisible);
        }
      });

      toggleButton.textContent = allProjectsVisible
        ? "Zobrazit další projekty"
        : "Zobrazit méně projektů";
      toggleButton.setAttribute("aria-pressed", String(!allProjectsVisible));
    }

    toggleButton?.addEventListener("click", toggleProjects);

    return () => {
      toggleButton?.removeEventListener("click", toggleProjects);
    };
  });
</script>
