---
import Layout from '@layouts/Layout.astro';
import { getProjectDetailBySlug } from '@sanity/api';
import { urlFor } from '@sanity/utils';
import AboutProjectSection from '@sections/project-detail/AboutProjectSection.astro';
import DescriptionSection from '@sections/project-detail/DescriptionSection.astro';
import HeroSection from '@sections/project-detail/HeroSection.astro';
import MaxWidth from '@ui/components/MaxWidth.astro';

const { projectSlug } = Astro.params;

const projectDetail = await getProjectDetailBySlug(projectSlug);

const projectImage = {
  src: projectDetail?.image ? urlFor(projectDetail?.image).url() : undefined,
  alt: projectDetail?.imageAlt ?? '',
  height: projectDetail?.image?.asset?.metadata?.dimensions?.height ?? 0,
  width: projectDetail?.image?.asset?.metadata?.dimensions?.width ?? 0,
};
---

<Layout title={projectDetail?.parentProject?.name}>
  <main>
    <MaxWidth size="small">
      <div class="mb-15 flex flex-col gap-15 lg:mb-20 lg:gap-20">
        <HeroSection
          name={projectDetail?.parentProject?.name}
          tags={projectDetail?.parentProject?.tags}
          projectImage={projectImage}
          year={projectDetail?.parentProject?.year}
        />

        <DescriptionSection
          description={projectDetail?.parentProject?.description}
        />

        <AboutProjectSection projectDescriptions={projectDetail?.sections} />
      </div>
    </MaxWidth>
  </main>
</Layout>
