---
import Layout from "@layouts/Layout.astro";
import { getProjectDetailBySlug } from "@sanity/api";
import { urlFor } from "@sanity/utils";
import HeroSection from "@sections/project-detail/HeroSection.astro";

const { projectSlug } = Astro.params;

const projectDetail = await getProjectDetailBySlug(projectSlug);
---

<Layout>
  <main class="flex flex-col gap-15 lg:gap-20 mb-15 lg:mb-20">
    <HeroSection
      title={projectDetail?.parentProject?.name}
      tags={projectDetail?.parentProject?.tags}
      image={urlFor(projectDetail?.parentProject?.image)?.url()}
      imageAlt={projectDetail?.parentProject?.imageAlt}
      year={projectDetail?.parentProject?.year}
    />

    <p>
      {projectDetail?.parentProject?.description}
    </p>

    <p>TODO: Ikony v cem to bylo vytvoreno</p>

    <p>TODO: carousel obrazku k projektu</p>

    <section>
      <h3>Barvy</h3>
      <p>
        Barevná paleta je vybrána, aby podtrhovala hravost plavecké školy.
        Primární barvy #014B8B a #DCE9FA vytvářejí vodní atmosféru. Sekundární
        barvy přidávají dynamiku a jas: #FFCA0F je určena pro plavecké kurzy,
        zatímco #73F0C0 je vyhrazena pro tábory, což pomáhá jasně odlišit různé
        aktivity.
      </p>
      <div>
        TODO: OBRAZEK k Barvam<img />
      </div>
    </section>

    <section>
      <h3>Fonty</h3>

      <div class="flex gap-6">
        <p class="flex-1">
          Jsem grafická designérka se zaměřením na tvorbu originálních vizuálů.
          Pracovala jsem v marketingové agentuře, kde jsem se podílela na
          kampaních pro různé značky a vytváření kompletních vizuálních identit.
          Díky práci na různorodým projektech mám široký rozhled, který nyní
          rozvíjím jako freelancer.
        </p>
        <div class="flex-1">
          TODO: OBRAZEK k Barvam<img />
        </div>
      </div>
    </section>

    <!-- //TOHLE UZ BY MOHLO CELY CHODIT ZE SANITY -->
    <div>
      <h3>Nadpis Tématu</h3>
    </div>
  </main>
</Layout>
