---
import type { SanityProject } from '@domains';
import { urlFor } from '@sanity/utils';
import Tag from '@ui/components/Tag.astro';
import { tailwindColorToIntent } from '@utils/tailwind';
import { Image } from 'astro:assets';

interface Props extends Partial<SanityProject> {
  class?: string;
  detailUrl?: string | null;
}

const {
  name,
  tags,
  image,
  detailUrl,
  imageAlt = '',
  tagColor = 'background',
  titleColor = 'background',
  class: className = '',
} = Astro.props;
---

<a href={detailUrl ? `/projekty/${detailUrl}` : ''} class={className}>
  <article
    class="group relative flex h-[33.3rem] gap-6 overflow-hidden text-clip rounded-small bg-[#D9D9D9] md:h-[42rem]"
  >
    {
      image && (
        <Image
          src={urlFor(image)?.url()}
          alt={imageAlt}
          width={image?.asset?.metadata?.dimensions?.width ?? 0}
          height={image?.asset?.metadata?.dimensions?.height ?? 0}
          loading="lazy"
          decoding="async"
          class="absolute size-full origin-bottom-left rounded-[inherit] object-cover transition-all duration-150 group-hover:scale-105"
        />
      )
    }

    <div
      class="z-10 flex flex-1 flex-col items-end justify-between gap-4 px-5 py-3 text-right"
    >
      {
        tags && (
          <div class="flex gap-5">
            {tags.map(tag => (
              <Tag intent={tailwindColorToIntent(String(tagColor))}>
                {tag.name}
              </Tag>
            ))}
          </div>
        )
      }

      <h3 class={`text- max-w-[60%] text-body1 font-semibold${titleColor}`}>
        {name}
      </h3>
    </div>
  </article>
</a>
