---
import Tag from "./Tag.astro";
import { Image } from "astro:assets";
import { urlFor } from "@sanity/utils";
import { tailwindColorToIntent } from "@utils/tailwind";
import type { SanityImage } from "@sanity/types";

interface Props {
  title?: string;
  detailUrl?: string;
  externalUrl?: string;
  tags?: { name: string; value: string }[];
  image?: SanityImage;
  imageAlt?: string;
  tagColor?: string;
  titleColor?: string;
}

const {
  title,
  tags,
  image,
  detailUrl,
  imageAlt = "",
  tagColor = "background",
  titleColor = "background",
} = Astro.props;
---

<a href={detailUrl ? `/projekty/${detailUrl}` : ""}>
  <article
    class="relative flex gap-[2.4rem] h-[42rem] bg-[#D9D9D9] rounded-small"
  >
    {
      image && (
        <Image
          src={urlFor(image)?.url()}
          alt={imageAlt}
          width={image?.asset?.metadata?.dimensions?.width}
          height={image?.asset?.metadata?.dimensions?.height}
          loading="lazy"
          decoding="async"
          class="h-full object-cover rounded-[inherit] absolute"
        />
      )
    }

    <div
      class="flex flex-col justify-between items-end text-right gap-4 flex-1 z-10 py-3 px-5"
    >
      {
        tags && (
          <div class="flex gap-5">
            {tags.map((tag) => (
              <Tag intent={tailwindColorToIntent(tagColor)}>{tag.name}</Tag>
            ))}
          </div>
        )
      }

      <h3 class={`text-body1 font-semibold max-w-[60%] text-${titleColor}`}>
        {title}
      </h3>

      <!-- {
  externalUrl && (
    <LinkIcon iconSrc={linkSVG} href={externalUrl}>
      {" "}
      Podívat se na stránku{" "}
    </LinkIcon>
  )
} -->
    </div>
  </article>
</a>
