---
import LinkIcon from "./LinkIcon.astro";
import Tag from "./Tag.astro";
import { Image } from "astro:assets";
import { urlFor } from "@sanity/utils";
import type { SanityImage } from "@sanity/types";

interface Props {
  title?: string;
  detailUrl?: string;
  externalUrl?: string;
  tags?: { name: string; value: string }[];
  image?: SanityImage;
}

const { title, detailUrl, externalUrl, tags, image } = Astro.props;
---

<div class="flex flex-col gap-4">
  <h3 class="text-h3 text-primary">{title}</h3>

  <div class="h-[17rem] bg-[#D9D9D9] lg:rounded-regular">
    {
      image && (
        <Image
          src={urlFor(image)?.url()}
          alt="Profilová fotka lektora angličtiny Petra Walacha"
          width={image?.asset?.metadata?.dimensions?.width}
          height={image?.asset?.metadata?.dimensions?.height}
          loading="lazy"
          decoding="async"
          class="h-full object-cover rounded-[inherit]"
        />
      )
    }
  </div>

  <div class="flex flex-col gap-4">
    <!-- Tohle bude pri kliknuti na cely, pokud jsem na mobilu a nebude viditelny  -->
    {
      detailUrl && (
        <LinkIcon iconSrc="/src/assets/info.svg" href={`/${detailUrl}`}>
          Víc o projektu
        </LinkIcon>
      )
    }

    {
      externalUrl && (
        <LinkIcon iconSrc="/src/assets/link.svg" href={externalUrl}>
          {" "}
          Podívat se na stránku{" "}
        </LinkIcon>
      )
    }
  </div>

  {
    tags && (
      <div class="flex gap-5">
        {tags.map((tag) => (
          <Tag>{tag.name}</Tag>
        ))}
      </div>
    )
  }
</div>
