---
import Button from "@components/Button.astro";
import MaxWidth from "@components/MaxWidth.astro";
import Project from "@components/Project.astro";
import { getProjects } from "@sanity/api";

const projects = await getProjects();
---

<section class="py-[5rem] px-[2.1rem]">
  <MaxWidth>
    <div class="flex flex-col gap-10">
      {
        projects?.map((project, index) => (
          <Project
            title={project?.name}
            tags={project?.tags}
            image={project?.image}
            imageAlt={project?.imageAlt}
            detailUrl={project?.slug}
            description={project?.description}
            odd={index % 2 === 0}
          />
        ))
      }

      {projects?.length > 3 && <Button> Zobrazit další projekty </Button>}
    </div></MaxWidth
  >
</section>
